version: "3.8"

services:
  db:
    image: mysql:8.0

    restart: always

    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

      MYSQL_DATABASE: ${MYSQL_DATABASE}

    ports:
      - "3306:3306"

    volumes:
      - db_data:/var/lib/mysql

    networks:
      - cinefluent-network

    env_file:
      - .env

  backend:
    image: minld/backend:latest

    restart: always

    ports:
      - "5000:5000"

    # Xóa volumes code vì image đã chứa code rồi

    depends_on:
      - db

    networks:
      - cinefluent-network

    env_file:
      - .env

  frontend:
    image: minld/frontend:latest

    restart: always

    ports:
      - "3000:3000"

    depends_on:
      - backend

    networks:
      - cinefluent-network

    env_file:
      - .env

  nginx:
    image: nginx:alpine

    restart: always

    ports:
      - "80:80"

    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

    depends_on:
      - frontend

      - backend

    networks:
      - cinefluent-network

networks:
  cinefluent-network:
    driver: bridge

volumes:
  db_data:
