services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - cinefluent-network
    env_file:
      - .env

  backend:
    build:
      context: ./server/be_flask_cinefluent
      dockerfile: Dockerfile
    volumes:
      - ./.env:/app/.env
      - ./server/be_flask_cinefluent/app/utils/service-account.json:/app/app/utils/service-account.json
      - vtt_storage:/app/storage
    image: minld/cinefluent-backend:latest
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - db
    networks:
      - cinefluent-network
    env_file:
      - .env

  frontend:
    build:
      context: ./client/Fe_CineFluent
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_GOOGLE_CLIENT_ID: ${NEXT_PUBLIC_GOOGLE_CLIENT_ID}
    image: minld/cinefluent-frontend:latest
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - cinefluent-network
    env_file:
      - .env

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - nginx_cache:/var/cache/nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - cinefluent-network

networks:
  cinefluent-network:
    driver: bridge

volumes:
  db_data:
  nginx_cache:
  vtt_storage:
